<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>InitMethodServlet</servlet-name>
    <servlet-class>com.anthony.servlet.demo.InitMethodServlet</servlet-class>
    <!--值越小，优先级越高-->
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitMethodServlet</servlet-name>
    <url-pattern>/InitMethodServlet</url-pattern>
  </servlet-mapping>
</web-app>
